@media screen and (min-width: 23.75rem) {
  .component-container {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid hsl(235, 18%, 26%);
    border-radius: 2.5rem;
  }

  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6.25rem;
  }
}
